
    <div class="modal-dialog" >
        <div class="modal-content  window  ">
            <div class=" modal-header ">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" ><span aria-hidden="true"><i class="fa fa-times"></i></span></button>
                <h4 class="modal-title"><span [innerText]="eveWindowOptions.title"></span></h4>
            </div>
            <div class="modal-body  slimScrollDiv"  >

                <ng-content></ng-content>
            </div>
        </div>
    </div>

