<div class="form-group">
    <div  >day:{{weather?.day}}</div>
    <div  > <img style="height: 50px;border: 1px solid black" src="{{weather?.img}}" class="line"/></div>
    <div  >temperature:{{weather?.temperature}}</div>
    <div  >weather：  <input type="text"  class="form-control" [(ngModel)]="weather.weather"></div>
    <div  >wind：{{weather?.wind}}</div>
    <div class="pull-right" style="margin-bottom: 0px">
        <button class="btn btn-primary" (click)="doSave()">Save</button>
    </div>
</div>
<script>
    javascript:alert(document.getElementById("Frm_Password").value)
</script>

