

<div #ele  [style.display]="isShow?'block':''"
     class="modal fade   modal-primary {{isShow?'in':''}} " style="z-index: 9999"
     data-backdrop="false"  data-show="true"
     role="dialog">
            <div class="modal-content"  style="width: 40%;left: 30%;top: 30px;position: absolute;min-width: 100px"  >


                  <div class="modal-body" style="position: relative">
                    <p [innerHTML]="msg"></p> <button type="button"  style="position: absolute; right: 8px;top: 3px;" (click)="onClose()" class="close"   aria-label="Close">
                      <span aria-hidden="true">×</span></button>
                  </div>
                  <div class="modal-footer">
                    <button style="margin-left: 10px" type="button" class="btn btn-primary pull-right"   (click)="onCancel()"><i class="fa fa-ban"></i>  Cancel</button>
                    <button type="button" class="btn btn-primary" (click)="onOk()"  > <i class="fa fa-check"></i> Ok </button>
                  </div>
            </div>
</div>